<table>
  <tr>
    <td>
      <div class="username">
        <%= @name %>
      </div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
    <div class="profile-picture">
      <%= image_tag 'me.jpg' %>
    </div>
    </td>
    <td>
    <ul>
      <li><%= link_to 'About me', '#', class: 'homepage-link' %>/li>
      <li><%= link_to 'My works', '#', class: 'homepage-link' %>/li>
      <li><%= link_to 'Place Order', '#', class: 'homepage-link' %>/li>
      <li><%= link_to 'Contacts', '#', class: 'homepage-link' %>/li>
    </ul>
    </td>
  </tr>
</table>